---
title: 'June Review'
date: '7/1/2015'
description: 'A monthly review of the last month and planning for the future'
_content: false
---
  
extends /views/_post

block append content
  .section.blog-section
    .container
      .row
        .col.s12.m9
          :markdown
            I want to learn to get stuff **done**, and these reviews will help me
            to do that. They help me keep perspective as time flies in my young adult
            life. I can find what approaches work for me, and hold myself accountable
            to goals and dreams.

            #### Learning
            A recent episode of [Hello Internet](http://www.hellointernet.fm/) recommended 
            the reading of [Getting Things Done: The Art of Stress-Free 
            Productivity](http://www.amazon.com/gp/product/0143126563). I am only
            a few chapters into the book but thus far the techniques seem promising.
            My main takeaway thus far has been to offload unfinished concerns to
            a trusted system. I personally use [Todoist](http://todoist.com/)
            as my trusted external system, and I already feel less stressed. 
            But in all fairness, this may also be because I am temporarily an 
            employed college graduate with minimal responsibilities!
            
            A new process I am experimenting with is assigning myself weekly educational
            materials, generally with one per day. Thus far I am enjoying the new policy.
            I constantly stumble upon interesting posts or projects online and 
            save them for later. The problem in the past was that whenever I 
            looked at the mound of projects awaiting me, it was quite daunting.
            Now I am more selective with what I add to the queue, and simply chip
            away at the pile every day or so. This new approach is already yielding
            results, and below is a list of some of my favorite recent discoveries.
            
            **Learning Experiences**:
            - [Free Code Camp](http://www.freecodecamp.com/) - A community for 
            learning web development, building a portfolio, and helping nonprofit
            organizatins. I have thus far been very impressed with freecodecamp,
            and I am not the only one. Freecodecamp was also featured in [Wired 
            Magazine](http://www.wired.com/2015/06/can-real-world-work-free-coding-boot-camp/) 
            and [Inc. Magazine](http://www.inc.com/larry-kim/7-more-places-to-learn-to-code-for-free.html) 
            as one of the places to learn to code.
            - [JSConf](https://www.youtube.com/user/jsconfeu) - Although I could 
            not attend in person (maybe someday!) JSConf US did upload some 
            inciteful and engaging presentations.
            - [State of SVG Animation](http://blogs.adobe.com/dreamweaver/2015/06/the-state-of-svg-animation.html) -
            Before reading this fine article I was completely ignorant to the 
            world of animating SVGs beyond the most basic CSS properties.
            After reading it, I still have much to learn and try, but knowing what
            I don't know is progress!
            - [Nodeschool](http://nodeschool.io/) -
            Nodeschool is a well-known name in JS & Node education, but I had simply
            never explored further than their home page. This month I discovered
            that was a major mistake. Nodeschool offers a wide variety of core and
            elective workshops including JS & Node basics, ES6, React, Web Audio, and Graphics.            

            #### The Past
            **Successes of June**:
            - This Website Launched! Rather than eternally polishing it to perfection,
            I finally accepted that having a functional site is better than nothing. 
            Having the site up and running is certainly motivating.
            - [The Fabulous Phone App](http://www.thefabulous.co/) is a bit cheesy 
            at times, but in the end my morning routine is much improved, and 
            there were noticeable health and well-being benefits.
            - Assigning weekly tasks felt feasible and valuable, two core aspects
            of any good task. I will make sure to continue the approach, but should
            probably be more selective as to what I put in the queue.
            - The [Rock'N'Roll Seattle Half-Marathon](http://www.runrocknroll.com/seattle/)
            may have been a life changing experience. I know now that running can 
            be a healthy part of my lifestyle and I don't intend to slow down 
            (except for the week I took off After the big day).
            - I unsubscribed from all podcasts that I had not listened to in the
            month. They all sound interesting but I have to accept that I have to
            be more selective.
            - [Inequality for All](http://www.imdb.com/title/tt2215151/) is an
            engaging documentary about U.S. labor economics. Although I do not
            agree with every analysis, it certainly was high quality and the
            presentation style and infographics were inspiring design elements.

            **Road Bumps of June**:
            - Nuts. I don't know if I am developing an allergy or intolerance,
            but lately nuts have been making me sick. Stop eating them!
            - Running is good, but I can't keep neglecting my core strength.
            - Despite being back in the Seattle area, I have not been making enough time
            for friends and family.
            - Losing socks. I keep losing so many socks in the laundry process,
            it is getting comically ridiculous.
            - Occasionally I allow media to interrupt my morning routine. This
            cannot continue!
            - Relied upon family a bit too heavily for home cooked meals and 
            took for granted.

            #### The Future
            **Improvements for July**:
            - I will not do anything (within reason) until I have completed my
            morning routine.
            - Watch another documentary.
            - Walk / run 5k everyday!
            - Core body weight workout everyday!
            - Wash socks separately and don't let mix in big pile.
            - Read [You Don't Know JS](https://github.com/getify/You-Dont-Know-JS) 
            book series and take notes.
            - Update resume as web element.
            - Apply for 3 New Positions.
            - Create complex Angular app (DOTA related?).
            - Cook a new meal every Friday.
