doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Web Developer Blog Site')
    meta(name='author', content= "Jeffrey Crocker")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title CrockAgile
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    != css('/')

  body
    header.z-depth-2              
      nav.grey.darken-4(role='navigation')
        .nav-wrapper.container
          a.brand-logo(href='/')
            object#logo(type='image/svg+xml', data='img/crockagile.svg')
              | Crock Agile
          ul.right.hide-on-med-and-down
            each page in pages
              li
                a(href='#{page.url}')=page.title
          ul#nav-mobile.side-nav
            each page in pages
              li
                a(href='#{page.url}')=page.title
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.mdi-navigation-menu
            
    main.container
      .section
        block content

    footer.page-footer.green.darken-1
      .container.section
        .row
          .col.s4.offset-s2
            h5.white-text.center-align
              b CONTACT           
            .row
              .col.m12.l3.offset-l3
                a.white-text.valign-wrapper.center-align(href='mailto:crockagile@gmail.com')
                  i.fa.fa-envelope-o.fa-2x.fa-fw
                  span.valign Email
              .col.m12.l3
                a.white-text.valign-wrapper(href='https://keybase.io/crockagile')
                  i.fa.fa-key.fa-2x.fa-fw
                  span.valign Keybase
          .col.s4
            h5.white-text.center-align 
              b FOLLOW
            .row
              .col.m12.l3
                a.white-text.valign-wrapper.center-align(href='https://twitter.com/CrockAgile')
                  i.fa.fa-twitter.fa-2x.fa-fw
                  span.valign Twitter
              .col.m12.l3
                a.white-text.valign-wrapper(href='https://github.com/CrockAgile')
                  i.fa.fa-github.fa-2x.fa-fw
                  span.valign Github
              .col.m12.l3
                a.white-text.valign-wrapper(href='https://www.reddit.com/user/CrockAgile/')
                  i.fa.fa-reddit.fa-2x.fa-fw
                  span.valign Reddit          
      .footer-copyright.orange
        .container.valign-wrapper
          h5.valign Copyright &copy; 2015 Jeffrey Crocker. Hosted on 
            a.grey-text.text-lighten-3(href='https://github.com/CrockAgile/crockagile-roots') Github
  
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js')
  != js('/')
