doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Web Developer Blog Site')
    meta(name='author', content= "Jeffrey Crocker")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title CrockAgile
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    != css('/')

  body
    header.z-depth-2              
      nav.grey.darken-4(role='navigation')
        .nav-wrapper.container
          ul.hide-on-med-and-down
            each page in pages
              li
                a(href='#{page.url}')=page.title
          ul#nav-mobile.side-nav
            each page in pages
              li
                a(href='#{page.url}')=page.title
          a.button-collapse(href='#', data-activates='nav-mobile').valign-wrapper
            h5 Menu
          a.right.brand-logo(href='/')
            include ../assets/img/crockagile.svg
            
    main
      block content

    footer.page-footer.green.darken-1
      .container
        .row
          .col.l5.s12
            h5.white-text CrockAgile
            p.grey-text.text-lighten-3
              | This is Jeffrey Crocker's personal site. I share my learning experiences, 
              | resources, and random enjoyments. I generate the static site using 
              a.orange-text(href='http://roots.cx') Roots
              | , style it with 
              a.orange-text(href='http://materializecss.com/') Materialize
              | , and host it on 
              a.orange-text(href='https://github.com/CrockAgile/crockagile-roots')  Github
              | .
          .col.l3.s12
            h5.white-text Jeffrey Crocker
            p.grey-text.text-lighten-3
              | I am a fresh graduate from the University of Idaho with an 
              | interest in Web Development and Security.
          .col.l4.s12
            
            h5.white-text Connect With Me
            a.white-text(href='mailto:crockagile@gmail.com')
              i.fa.fa-2x.fa-envelope-o
            a.white-text(href='https://github.com/CrockAgile')
              i.fa.fa-2x.fa-github
            a.white-text(href='https://www.linkedin.com/in/crockagile')
              i.fa.fa-2x.fa-linkedin
            a.white-text(href='https://twitter.com/CrockAgile')
              i.fa.fa-2x.fa-twitter
            a.white-text(href='https://www.reddit.com/user/CrockAgile')
              i.fa.fa-2x.fa-reddit
            a.white-text(href='http://www.twitch.tv/thegoo280')
              i.fa.fa-2x.fa-twitch
            a.white-text(href='https://keybase.io/crockagile')
              i.fa.fa-2x.fa-key                    
      .footer-copyright.orange.darken-2
        .container
          b &copy 2015 Jeffrey Crocker
          b 
            a.right.grey-text.text-lighten-3(href='https://github.com/CrockAgile/crockagile-roots') Hosted on Github
  
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js')
  != js('/')
