extends _page
block active-page
  -var selected = 'HOME';
block content
  .section.grey.lighten-3
    .container
      .row.header-banner
        .col.s12.center-align
          h2 
            strong Jeffrey Crocker
          h5 Apprentice Software
            br
            | Craftsman
          br
          a.orange.waves-effect.waves-light.btn(href='/contact.html')
            i.mdi-communication-chat.right 
            | Get In Touch
          a.green.darken-1.waves-effect.waves-light.btn(href='/blog.html')
            i.mdi-notification-event-note.right
            | Explore Blog
  .section
    .container
      .row
        .col.s8.m5.l4.offset-s2
          .card.orange.z-depth-2
            .card-image#prof
              img(src='/img/prof2.jpg')
            .card-content.white-text
              p#bio A Programmer &amp Physicist who enjoys 
                strong running
                | , 
                strong podcasts
                | , and 
                strong web development
                | .

        .col.s12.m7.l7.offset-l1.card.z-depth-2
          h2.center-align.green-text.text-darken-1
            i.mdi-image-flash-on.medium
            strong Skills
          .row
            .col.s6
              h4.center-align 
               strong Front End
              .skills-flex
                span.skill
                  img(src='/img/logos/html5-logo.png')
                  h5.center-align HTML5
                span.skill
                  img(src='/img/logos/css3-logo.png')
                  h5.center-align CSS3
                span.skill
                  img(src='/img/logos/javascript-logo.png')
                  h5.center-align JavaScript
                span.skill
                  img(src='/img/logos/angular-logo.png')
                  h5.center-align Angular
            .col.s6
              h4.center-align
                strong Back End
              .skills-flex
                span.skill
                  img(src='/img/logos/java-logo.png')
                  h5.center-align Java
                span.skill
                  img(src='/img/logos/C-logo.png')
                  h5.center-align C / C++
                span.skill
                  img(src='/img/logos/python-logo.png')
                  h5.center-align Python
                span.skill
                  img(src='/img/logos/node-logo.png')
                  h5.center-align Node.js
              
  .section.grey.lighten-3
    .container
      .row
        .col.s12
          h2.orange-text
            i.mdi-social-mood.medium
            strong Delights
      .row
        .col.s12.m10.offset-m1
          ul.tabs#enjoyments.z-depth-1
            li.tab.col.s3
              a(href='#podcasts').flow-text
                i.fa.fa-headphones
            li.tab.col.s3
              a(href='#running').flow-text
                i.fa.fa-heartbeat
            //- li.tab.col.s3
            //-   a(href='#games').flow-text
            //-     i.fa.fa-trophy
            li.active.tab.col.s3
              a(href='#quotes').flow-text
                i.fa.fa-quote-right
          #podcasts.active.enjoyment.col.s12.white
            img(src='/img/podcasts/hi.jpeg')
            img(src='/img/podcasts/bombcast.jpg')
            img(src='/img/podcasts/ra.jpeg')
            img(src='/img/podcasts/pm.jpeg')
            img(src='/img/podcasts/htde.jpeg')
            img(src='/img/podcasts/js5.jpeg')
            img(src='/img/podcasts/su.jpeg')
            img(src='/img/podcasts/taz.jpeg')
            img(src='/img/podcasts/mbmbam.jpeg')
            img(src='/img/podcasts/beastcast.jpeg')
            img(src='/img/podcasts/jsj.jpeg')
            img(src='/img/podcasts/serial.jpeg')
            img(src='/img/podcasts/trh.jpeg')
            img(src='/img/podcasts/cortex.jpeg')
            img(src='/img/podcasts/aia.jpeg')
            img(src='/img/podcasts/sn.jpeg')
            img(src='/img/podcasts/dhnj.jpeg')
          #running.enjoyment.col.s12.white
            .slider
              ul.slides
                li
                  img(src='/img/running/brooks_inflatable.jpg')
                  .caption.left-align
                    h3 Half-Marathon
                    h4 Rock & Roll 2015
                li
                  img(src='/img/running/newshoes.jpg')
                  .caption.center-align
                    h3 Trusty Companions
                    h4.light.yellow-text.text-lighten-1 
                      strong Burn Bright
                li
                  img(src='/img/running/tunnel.jpg')
                  .caption.left-align
                    h3 Smiles
                    h4 Victory Lap
          //- #games.enjoyment.col.s12.white
          //-   h4 Games
          #quotes.enjoyment.col.s12.white
            .fade-quotes
              h3 What man is a man who does not make the world better?
              h3 The top has no limits. We can keep on climbing.
              h3 These quotes are going too fast.
