extends _page

block content  
  .row
    .col.s12
      .card-panel.orange.lighten-2.z-depth-2
        .row.valign-wrapper
          .col.l3.m4.s12
            img#profile.circle.responsive-img.z-depth-3(alt='Jeffrey Crocker Profile Picture', src='img/prof.jpg')
          .col.l9.m8.s12
            p.black-text.flow-text.center.
              this site is currently under construction
            .divider
            p.black-text.flow-text.center
              so kindly withhold scathing judgment
  .divider
  .section
  
