extends _page

block content
  .container
    .section
      .row
        .col.s10.offset-s1.m5.l4
          img#profile.responsive-img.circle.z-depth-2(alt='Jeffrey Crocker Profile Picture', src='img/prof.jpg')
        .col.s12.m7.l7.offset-l1.white-text
          .card.orange.z-depth-2
            .card-content
              h4.header.section-title
                span.valign-wrapper
                  i.mdi-social-person.fa-2x.left-align
                  | About Me
              p.flow-text
                | Hello! I am 
                strong Jeffrey Crocker 
                | and I am a 
                strong Web Developer 
                | with a passion for 
                strong games
                | , 
                strong running
                | , and 
                strong podcasts
                | .
                
              
