extends _page

block content
  .container.section
    .row.valign-wrapper
      .col.s12.m4.l3.hide-on-small-only
        img#profile.center.circle.responsive-img.z-depth-2(alt='Jeffrey Crocker Profile Picture', src='img/prof.jpg')
      .col.offset-l1.s12.m8.l8
        .card.orange.z-depth-2
          .card-content.white-text
            span.card-title.valign-wrapper
              i.mdi-social-person.fa-3x.left-align
              span
                h2 About Me

            p.flow-text.center-align
              | Hey, I am Jeffrey Crocker and I am currently in the process
              | of building my own personal site! So please withold scathing
              | judgments until it is completed. Feel free to check back in a
              | week or so.
          
