extends _page
block active-page
  -var selected = 'LAB';
block content
  .container
    h2.header.section-title
      span.valign-wrapper
        i.fa.fa-flask
        | LAB
    p.flow-text
      | The laboratory is where I explore my curiosities by building prototypes.
      br
      strong Beware: 
      | the level of polish and completion between experiments will varry!
