extends _page
block active-page
  -var selected = 'LABORATORY';
block content
  .container
    h2.header.section-title
      span.valign-wrapper
        i.fa.fa-flask
        | LABORATORY
    p.flow-text Content to come!
