body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  min-height: 100vh;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
main {
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
footer.page-footer {
  padding-top: 0;
}
footer.page-footer .footer-copyright h5 {
  font-size: 100%;
  margin-right: auto;
  margin-left: auto;
}
footer.page-footer i {
  margin: 0 0.5em;
}
footer.page-footer ul li {
  display: inline-block;
  font-size: 1.1em;
}
footer.page-footer .row {
  margin-bottom: 0;
}
header {
  margin-bottom: 25px;
}
header object {
  pointer-events: none;
}
#logo {
  height: 86px;
}
#profile {
  border: 5px solid #43a047;
}
@media only screen and (min-width: 993px) {
  .nav-wrapper.container {
    padding: 0;
  }
}
@media only screen and (min-width: 993px) {
  #logo {
    position: relative;
    left: -50px;
  }
}
