$orange = #FF9800
$green-d1 = #43A047

.skills-flex
  .skill
    position: relative
    img
      margin: 15px 15px 0 15px
      height: 90px
      flex-shrink: 0
  display: flex
  flex-wrap: wrap
  flow-direction: column
  align-items: center
  justify-content: space-around

#bio
  font-size: 1.5em
  strong
    text-decoration: underline
    font-size: 1.1em

#prof
  .card-title
    top: 0

#enjoyments
  .tab a
    color: $green-d1
    font-weight: bold
  .indicator
    background-color: $orange
.enjoyment
  min-height: 520px

#podcasts
  display: flex
  flex-wrap: wrap
  align-content: center
  img
    height: 144px
    padding: 10px


#quotes
  .fade-quotes
    position: relative
    margin: 15% auto 0 auto
    padding: 10px
    width: 80%
    h3
      &:before
        content: "\201C"
        font-size: 1.2em
        font-weight: bold
      &:after
        content: "\201D"
        font-size: 1.2em
        font-weight: bold
      position: absolute
      opacity: 0
      overflow: hidden
      color: $orange
      text-align: left
      animation: fadeQuote 24s linear infinite 0s
      &:nth-child(2)
        animation-delay: 8s
      &:nth-child(3)
        animation-delay: 16s

@keyframes fadeQuote
  0% {
    opacity: 0
    animation-timing-function: ease-in
  }
  8% {
    opacity: 1
  }
  19% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
