body
  display: flex;
  min-height: 100vh;
  flex-direction: column;

main
  flex: 1 0 auto;

footer
  .footer-copyright
    h5
      font-size: 100%
  i
    margin: 0 0.5em
  ul
    li
      display: inline-block
      font-size: 1.1em
