body
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1 0 auto

footer.page-footer
  i
    margin: 0 0.3em 0.3em 0
  .row
    margin-bottom: 0

header
  object
    pointer-events: none
  margin-bottom: 25px

#logo-svg
  height: 86px
  position: relative
  left: 50px
  @media only screen and (max-width: 600px)
    height: 74px
    left: 0px

#logo-agile
  @media only screen and (max-width: 750px)
    display: none

#profile
  border: 3px solid #43A047

#contacts
  border-width: 5px
  border-color: #616161
  .collection-item
    border-width: 3px

.nav-wrapper.container
  @media only screen and (min-width: 993px)
    padding: 0

.post-card
  margin: 10px 10px 0 0
  width: 300px
  height: 150px
  flex-shrink: 0

.post-card-container
  display: flex
  flex-wrap: wrap

.post-triple-orange
  background-color: #fb8c00 // orange darken 2

.post-triple-green
  background-color: #43a047 // green darken 1

.post-double-orange
  @media only screen and (max-width: 1410px) and (min-width: 790px)
    background-color: #fb8c00 // orange darken 2

.post-double-green
  @media only screen and (max-width: 1410px) and (min-width: 790px)
    background-color: #43a047 // green darken 1
