/* General Page Styling
*/
$orange = #FF9800
$green-d1 = #43A047

html
  height: 100%
body
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1 0 auto

footer.page-footer
  margin-top: 0
  .row
    margin-bottom: 0

.logo-svg
  height: 85px
  position: relative
  @media only screen and (max-width: 600px)
    height: 74px
  @media only screen and (min-width: 993px)
    left: 120px

#logo-small
  display: none
  @media only screen and (max-width: 680px)
    display: inline
#logo-large
  @media only screen and (max-width: 680px)
    display: none

blockquote
  border-color: $orange

.nav-wrapper.container
  li.active
    a
      color: $orange

i
  margin: 0 0.3em 0.3em 0

.header-banner
  .btn
    margin-right: 5px
