---
title: '3-2-1-Launch!'
date: '6/23/2015'
description: 'Official Launch Post'
_content: false
---
  
extends ../views/_post

block append content
  .section
    .container
      :markdown
        This post marks the launch of CrockAgile! But what is CrockAgile?
        > ##### **Crock·Ag·ile** - *noun*
        > 1. Jeffrey Crocker's personal site
        > 2. A software developer's blog
        > 3. A human being's blog
        > 4. A learning tool
        
        This site will accomplish the above definition via the four primary
        pages:  
        
        **Home**: The landing page which portrays a terse identity and interests
        complete with favorite podcasts and cheesy quotes!
        
        **Blog**: You already found your way here! Future blog posts will cover
        progress and explorations toward becoming a well-rounded software
        developer. These topics will include both technical experiences and
        personal life balance.
        
        **Contact**: Somewhat self explanatory, but this page (as well as the 
        footer) helps anyone connect with me through a variety of communities.
        
        **Lab**: The laboratory is where I explore my curiosities by building
        prototypes. Projects here will not always be well polished, but it is
        all part of the learning process.

        This site as a whole will continually evolve and repurpose, and I
        look forward to see where it goes!
